body{
    background-color: #F5F5DC;
    font-family: sans-serif;
}

form{
   max-width: 400px;
   width: 90%;
   margin: auto;
   padding-top: 40px;

}
.card{
    box-shadow: 1px 1px 5px #ccc;
    background-color: #f5deb3;
    padding: 30px;
    border-radius: 5px;
}

.card-top{
    text-align: center;
}
.card-group{
    margin-bottom: 10px;

}

.card-group > label{
    width: 100%;
    color: #000000;
    display: block;
}

.card-group > button{
    background-image: linear-gradient(to right, red, green);
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color:white;
    border: 0px;
    outline: 0px;
}

.btn button:hover{
    background-image: linear-gradient(to right, rgb(143, 0, 0), rgb(2, 133, 2));

}


.card-group > input{
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding : 5px;
}

.imgLogin{

    width: 150px;
    display: block;
    margin: 0 auto;

}

.title{
    color: red;

}