body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding-top: 120px; 
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    box-sizing: border-box;
}

.container {
    min-width: 300px;
    max-width: 800px;
    margin: 0 auto 30px auto; 
    width: 90%;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    flex: 1; 
}
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
}
.filter-container {
    flex-grow: 1; 
    min-width: 200px; 
    margin-bottom: 0; 
    text-align: left;
}

.filter-container label {
    font-weight: bold;
    margin-right: 10px;
}

.filter-container select, input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box; 
}

.receitas-lista {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.receita-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.receita-card img {
    width: 100%;
    height: 250px; /* Ajuste para mobile */
    object-fit: cover;
}

.receita-content {
    padding: 25px;
}

.receita-content h2 {
    margin-top: 0;
    color: #c9302c;
}

.tempo-preparo {
    font-style: italic;
    color: #666;
    margin-bottom: 20px;
}

.ingredientes, .modo-preparo {
    margin-top: 20px;
}

.ingredientes h3, .modo-preparo h3 {
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.ingredientes ul {
    list-style-position: inside;
    padding-left: 0;
}

.ingredientes li {
    margin-bottom: 8px;
}

.modo-preparo p {
    line-height: 1.6;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 15px;
}

.btn-like {
    background-color: #5cb85c;
}

.btn-like:hover {
    background-color: #4cae4c;
}

.btn-dislike {
    background-color: #d9534f;
}

.btn-dislike:hover {
    background-color: #c9302c;
}

.navigation-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #eee;
}

.nav-btn {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.nav-btn:hover:not(:disabled) {
    background-color: #e9e9e9;
}

.nav-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#receita-counter {
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

@media (min-width: 768px) {
    .receita-card img {
        height: 350px;
    }
}